In [1]:
from configuration import settings
import pandas as pd

In [2]:
usecase = settings.container.get("CreateReport")

In [3]:
evaluations = [
    "data/-02-junio-20-Evaluaci-n-UPRRP-Secc-1-AM-Sensibilizaci-n-hacia-el-trabajo-remoto(2020-07-12).csv"
]

In [4]:
usecase.create(evaluations, "output2.xlsx")

In [5]:
df = pd.read_excel('output2.xlsx')

In [6]:
df

,Profesor,Curso,Numero de Estudiantes,Numero de Preguntas,Puntuación Obtenida,Puntuación Máxima,Promedio
0,Dr. Edwin Morales,-02-junio-20-Evaluaci-n-UPRRP-Secc-1-AM-Sensib...,37,6,862,888,3.88